# 忽略 .egg-info 目录
*.egg-info/

# 忽略 Python 缓存文件
__pycache__/
*.pyc
*.pyo

# 忽略构建文件
dist/
build/

# 忽略文件
tests/
examples/animation1.gif
examples/scenario4.yaml
examples/scenario5.yaml
examples/scenario6.yaml
examples/scenario8.yaml